@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

:root {
    /* Primary */
    --very_dark_magenta: hsl(300, 43%, 22%);
    --soft_pink: hsl(333, 80%, 67%);

/* Neutral */
    --dark_grayish_magenta: hsl(303, 10%, 53%);
    --light_grayish_magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 15px;
    font-family: Spartan, sans-serif;
    
}

body {
    background-color: var(--white);
    padding: 0 1rem;
    background-image: url(/frontend/assets/bg-pattern-top-mobile.svg)
                    , url(/frontend/assets/bg-pattern-bottom-mobile.svg);
    background-repeat: no-repeat;
    background-position: left top, right bottom;
}

.top, .rateds, .cards {
    margin: 0 auto;
    width: 345px;
}

.top {
    margin-top: 4rem;
    text-align: center;
}

.top h1 {
    font-size: 2rem;
    color: var(--very_dark_magenta);
    padding: 0 2rem;
    font-weight: 700;
}

.top p {
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    color: var(--dark_grayish_magenta);
}

.rateds {
    margin-top: 2rem;
}

.rateds .rated {
    color: var(--very_dark_magenta);
    height: 5rem;
    background-color: var(--light_grayish_magenta);
    border-radius: 10px;
    margin-bottom: 1rem;
    font-weight: 700;
    text-align: center;
    vertical-align: bottom;
}

.rated {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rated .starts {
    display: flex;
    justify-content: space-around;
    padding: 0 32%;
    margin-bottom: 15px;
}

.cards {
    margin-top: 3rem;
}

.cards .card {
    width: 345px;
    height: 251px;
    background-color: var(--very_dark_magenta);
    border-radius: 10px;
    padding: 2.5rem;
    margin-bottom: 1rem;
    color: var(--white);
}

.card .profile {    
    display: inline-block;
    width: 100%;
    height: 20%;
    margin-bottom: 1.5rem;
}

.card .profile img {
    float: left;
    border-radius: 50%;
    width: 50px;
}

.card .profile h2, .profile  p{
    font-size: .9rem;
    margin-left: 70px;
}

.card .profile p{
    color: var(--soft_pink);
    margin-top: .2rem;
}

.card .content {
    font-size: .9rem;
    line-height: 1.4rem;
}


@media screen and (min-width: 1440px) {
    body {
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        padding: 0 10%;
        background-image: url(/frontend/assets/bg-pattern-top-desktop.svg)
        ,url(/frontend/assets/bg-pattern-bottom-desktop.svg);
    }

    .top, .rateds {
        width: 50%;
        min-height: 40vh;
        margin-top: 4rem;
    }

    .top {
        text-align: left;
    }

    .top > * {
        max-width: 500px;
    }

    .top h1 {
        font-size: 3rem;
        padding: 0;
    }

    .rateds .rated {
        width: 30.4rem;
        height: 4rem;
        flex-direction: row;        
        justify-content: flex-start;
        align-items: center;
        padding-left: 2rem;
        font-size: .9rem;
    }

    .rateds .rated:nth-child(2){
        margin-left: 4rem;
    }

    .rateds .rated:nth-child(3){
        margin-left: 8rem;
    }

    .rated .starts {
        width: 35%;
        padding: 0;
        height: 18px;
        margin: 0;
    }

    .rated span {
        margin-left: 1rem;
    }

    .cards {
        margin: 0;
        width: 100%;
        min-height: 60vh;
        display: flex;
        justify-content: space-between;
    }    

    .cards .card {
        width: 390px;
        height: 220px;
        padding: 2rem;
    }

    .cards .card:nth-child(2) {
        margin: 1rem 2rem;

    }

    .cards .card:nth-child(3) {
        margin-top: 2rem;
    }

    .card .profile {
        margin-bottom: 2.5rem;
    }
}